*{
    margin: 0;
    padding: 0;
}
body{
    margin-left: 50px;
}
.login{
    display: flex;
    width: 80%;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    margin-top: 40px;
    
}
.form-det{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: space-evenly;
    width: 50%;
    height: 500px;
    background-color: whitesmoke;
   
}
.details-para{
    display: flex;
    align-items: flex-start;
    margin-left: 35px;
    font-size: 32px;
    margin-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.box1{
    margin-left: 35px;
    width: 70%;
    height: 40px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    text-align: center;
}
.box2{
    margin-left: 35px;
    width: 70%;
    height: 40px;
    margin-top: 25px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    text-align: center;
}
.box1:hover,.box2:hover{
    border-color: red;
}
.login-btn{
    margin-left: 35px;
    width: 70%;
    height: 45px;
    border-radius: 5px;
    border-style: none;
    background-color: red;
    color: white;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: inset;
}

.login-btn:hover{
    cursor: pointer;
    color: red;
    background-color: white;
}
.reg-btn{
   margin-left: 35px;
   display: flex;
   align-items: center;
   justify-content: center;
   width :70%;
   height :45px;
   border-radius: 7px;
   border-style:NONE;
   background-color:red;
   color:white;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: large;
   box-shadow: INSET;
}
.reg-btn:hover{
    cursor: pointer;
    color: red;
    background-color: white;
}
.nav-bar{
    margin: 0px;
    padding: 0px;
    color:white;
    height: 60px;
    background-color:red;
  
}

button{
    background-color: #f08804;
}
a{
    margin-right: 100px;
    color:white;
}
