<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: red;
=======
.nav-bar{
    margin: 0px;
    padding: 0px;
    color:white;
    height: 70px;
    background-color:red;
    position: static;
    display: block;  
}

button{
    background-color: #f08804;
}
a{
    margin-right:  100px;
    color:white;
    text-decoration: none;
}
.pro-log{
    margin-top: 20px;
    cursor: pointer;
>>>>>>> 870dc7a8f8373c683f939792690de8a1ebb90857
}