*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: white;
    border: 1px solid black;
}
.nav-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}
.div-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    height: 57px;
    width: 90px;
}
/*.nav-newLaunches{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    
}

.new-launches{
    text-decoration: none;
    color: black;
} 
.new-launches:hover{
    color: red;
    cursor: pointer;
}
.nav-motorCycles{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}
.motorcycles{
    text-decoration: none;
    color: black;
}
.motorcycles:hover{
    color: red;
    cursor: pointer;
}
.nav-scooters{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}
.scooters{
    text-decoration: none;
    color: black;
}
.scooters:hover{
    color: red;
    cursor: pointer;
}*/
.nav-link{
    display: flex;
    align-items: center;
    justify-content: center;
}
span{
    padding: 35px;
}
span a{
    text-decoration: none;
    color: black;
}
span a:hover{
    color: red;
    cursor: pointer;
}