*{
    margin: 0;
    padding: 0;
}

.reg-div{
    margin: 0;
    padding: 0;
    width: 1000px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    margin-top: 40px;
    display: flex;
}
.img{
    width: 300px;
    height: 400px;
    margin-right: 60px;
}
.reg-form{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    height: 500px;
    width: 700px;
    background-color: whitesmoke;
   

}
.details-para{
    display: flex;
    align-items: flex-start;
    margin-left: 15%;
    font-size: 32px;
    margin-bottom: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.label-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.label-1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: end;
}
.label-2{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.label-3{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.label-4{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.label-5{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.box1{
    width: 50%;
    height: 40px;
    margin-left: 50px;
    border-radius: 3px;
    border-color: black;
    border-style: solid;
    text-align: center;
}
.box2{
    display: flex;
   margin-top: 15px;
   margin-left: 50px;
    width: 50%;
     height: 40px;
     border-radius: 5px;
     border-color: black;
     border-style: solid;
     text-align: center;
}
#hide-pass{
    position: relative;
    margin-top: 15px;
    margin-left: -35px;
}
#hide-pass:hover{
    cursor: pointer;
}
.box3{
    display: inline;
     margin-top: 15px;
     margin-left: 35px;
     width: 50%;
     height: 40px;
     border-radius: 5px;
     border-color: black;
     border-style: solid;
     text-align: center;
}
.box4{
   
   display: inline-block;
   margin-top: 15px;
   margin-left: 50px;
    width: 50%;
     height: 40px;
     border-radius: 5px;
     border-color: black;
     border-style: solid;
     text-align: center;
}
.box5{
  display: inline-block;
  margin-top: 15px;
  margin-left: 100px;
    width: 50%;
     height: 40px;
     border-radius: 5px;
     border-color: black;
     border-style: solid;
     text-align: center;
}


.reg-btn{
    margin-left: 37%;
    margin-top: 15px;
    width: 50%;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    background-color: red;
    color: white;
    font-size: large;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: inset;
 }
 .box1:hover,.box2:hover,.box3:hover,.box4:hover,.box5:hover{
    border-color: red;
}
 .reg-btn:hover{
     cursor: pointer;
     color: red;
     background-color: white;
 } 
 .back-to-lgn a{
    display: flex;
    align-items: center;
    margin-left: 25%;
    justify-content: center;
    margin-top: 25px;
    text-decoration: none;
    color: black;
 }
 .back-to-lgn a:hover{
    color: red;
    text-decoration: underline;
 }
 